<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="org.postgresql.Driver" />
		<property name="driverUrl" value="jdbc:postgresql://106.187.99.235:5432/auction" />
		<property name="user" value="auction" />
		<property name="password" value="auction" />
		<property name="maximumConnectionCount" value="90" />
		<property name="simultaneousBuildThrottle" value="40" />
		<property name="houseKeepingTestSql" value="select 1" />
		<property name="testBeforeUse" value="true" />
		<property name="maximumActiveTime" value="3600000" />
		<property name="alias" value="DBPool" />
	</bean>
</beans>
