<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<http auto-config="true">
		<remember-me key="fuckRemeberMe" />
		<intercept-url pattern="/bo/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<form-login login-page="/cas/login" authentication-failure-url="/cas/loginFailed" login-processing-url="" default-target-url="/bo/index"/>
		<logout logout-success-url="/cas/login" invalidate-session="true" />
	</http>
	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="sha" />
			<jdbc-user-service data-source-ref="dataSource" users-by-username-query="SELECT name, password,status as enabled  FROM users WHERE name = ? " authorities-by-username-query="SELECT  username,  name as role FROM users_role AS ur,role AS r WHERE ur.username = ? AND ur.role_id = r.id" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>