* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Georgia, serif;
	background: url(../../images/logo.png) no-repeat 190px 30px #dedede;
	color: #3a3a3a;
	font-size:12px;
}

.clear {
	clear: both;
}

ul,li{
    list-style:none;
}

li{
    margin-top:20px;
	overflow:hidden;
	zoom:1;
	height:36px;
	line-height:36px;
}

li.last{
    margin:15px 0 0 50px;
}

li.last input{
    float:left;
	width:auto;
	position: relative; 
	top: 12px;
	*top:6px;
	margin: 0;
	width: auto;
	margin-right:5px;
	padding:0;
}

li.last label{
    float:left;
	padding: 0;
	width: auto;
	text-align: left;
}

form {
	width: 1325px;
	height:357px;
	margin: 160px auto 0;
	background: url(../images/login_box.png) top center no-repeat;
	position:relative;
}

legend {
	display: none;
}

fieldset {
	border: 0;
	position:absolute;
	left:711px;
	top:113px;
}

label {
	width: 115px;
	text-align: right;
	float: left;
	margin: 0 10px 0 0;
}

/*-----------------0929修改---------------------*/
input {
	width: 312px;
	display: block;
	padding: 10px 0 10px 66px;
	margin: 0 0 10px 0;
	font-size: 18px;
	color: #3a3a3a;
	font-family: Georgia, serif;
	border:none;
	float:left;
	background:none;
	outline:none;
}
/*----------------------------------------------*/

/*-----------------0929新增---------------------*/
#j_username{
	height:18px;
	line-height:18px;
	width:246px;
}

#j_password{
	height:18px;
	line-height:18px;
	width:246px;
}
/*--------------------------------------------*/


input[type=checkbox] {
	width: 20px;
	margin: 0;
	display: inline-block;
}

.button {
	background: url(../images/login_btn.png) no-repeat top center;
	padding: 5px;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	width: 98px;
	height:36px;
	margin:-3px 0 0 110px;
	_margin-left:62px;
	cursor:pointer;
}

a {
	color:#000;
	text-decoration:none;
	margin-left:20px;
}

.message{
	position:absolute;
	top:0;
	left:0;
}
p{
	text-align:center;
	margin-top:190px;
	color:#8c8a8b;
	font-family:Arial, Helvetica, sans-serif
}